{% extends 'shop_index.html' %}
{% load static %}


{% block shop_content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Checkout the items now</h4>
        </div>
        <div>
            <ul class="list-group" id="item_list">

            </ul>
        </div>
    </div>

    <br>
    <div class="row">
        <div class='col-md-12'>
            <form class="row g-3" method="POST">
                {% csrf_token %}

                <input id="items" name="items" type="hidden" class="form-control">

                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Name</label>
                  <input id="name" name= "name" type="text" class="form-control" placeholder="John">
                </div>

                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Email</label>
                  <input id="email" name="email" type="email" class="form-control">
                </div>

                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input id="address" name="address" type="text" class="form-control" placeholder="1234 Main St">
                </div>

                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input id="city" name="city" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <input id="state" name="state" type="text" class="form-control">
                </div>

                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input id="zipcode" name="zipcode" type="text" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="inputPrice" class="form-label">Total Amount</label>
                    <input readonly="" id="totalPrice" name="totalPrice" type="text" class="form-control">
                </div>
                
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Place Order</button>
                </div>
              </form>
        </div>
    </div>
</div>

<script src="{% static 'js/checkout.js' %}"></script>

{% endblock shop_content %}
