{% extends 'shop_index.html' %}

{% block shop_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Checkout the items now</h4>
        </div>
        <div>
            <ul class="list-group" id="item_list">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill" align="center">
                        <span id="item_quantity" class="text-danger" style="color: red !important;">14</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class='col-md-12'>
            <form class="row g-3" method="POST">
                {% csrf_token %}

                <input id="items" name="items" type="hidden" class="form-control">

                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Name</label>
                  <input id="name" name= "name" type="text" class="form-control" placeholder="John">
                </div>

                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Email</label>
                  <input id="email" name="email" type="email" class="form-control">
                </div>

                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input id="address" name="address" type="text" class="form-control" placeholder="1234 Main St">
                </div>

                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input id="city" name="city" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <input id="state" name="state" type="text" class="form-control">
                </div>

                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input id="zipcode" name="zipcode" type="text" class="form-control">
                </div>
                
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Place Order</button>
                </div>
              </form>

        </div>
    </div>



</div>

{% comment %} <script>
    // JavaScript to get the cart items from local storage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    console.log("cart items are: ", cart);
    for (var item in cart) {
        let name = cart[item][1].trim(); // Trim the leading and trailing whitespaces
        let quantity = cart[item][0];

        var itemString = '<li class="list-group-item">' + name + '-' + '<span class="text-danger" style="color: red;">' + quantity + '</span>' + '</li>';
        $("#item_list").append(itemString);
    }
    $("#items").val(JSON.stringify(cart));
    console.log("Cart at checkout : " + JSON.stringify(cart))
</script> {% endcomment %}


<script>
    // Move the JavaScript code inside a function
    function populateFormItems() {
        // JavaScript to get the cart items from local storage
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        console.log("cart items are: ", cart);
        for (var item in cart) {
            let name = cart[item][1].trim(); // Trim the leading and trailing whitespaces
            let quantity = cart[item][0];

            var itemString = '<li class="list-group-item">' + name + '-' + '<span class="text-danger" style="color: red;">' + quantity + '</span>' + '</li>';
            $("#item_list").append(itemString);
        }
        $("#items").val(JSON.stringify(cart));
        console.log("Cart at checkout : " + JSON.stringify(cart))
    }

    var formSubmitted = false;

    // Call the function on page load
    $(document).ready(function() {
        populateFormItems();

        // Check if the form is already submitted
        if (!formSubmitted) {
            $("form").submit(function() {
                formSubmitted = true;
                populateFormItems();
            });
        }
    });
</script>



{% endblock shop_content %}
