{% extends 'shop_index.html' %}
{% load static %}
{% block shop_content %}

<div class="container text-center">

    <div class="row">
        <div class="col-6">
            <h3>{{product.title}}</h3>
        </div>
        <div class="col">
            <img src="{{ product.image }}" alt="">
        </div>
        <div class="col">
            <h3>{{ product.title }}</h3>
            <br>
            <h5>Description : </h5>{{ product.description }}
            <br>
            <br>
            <h5>Price : {{ product.price }}</h5>
        </div>
      </div>
</div>

{% endblock shop_content %}

