{% extends 'shop_index.html' %}
{% load static %}

{% block shop_content %}
{% comment %} {% load django_bootstrap_pagination %} {% endcomment %}
<div class="container">
    <div class="container">
        <div class="row">
            {% for p in product_list %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{p.image}}" alt="{{p.title}}" class="card-img-top" style="width: 300px; height: 200px;">
                        <div class="card-body">
                            <div id="as{{p.id}}" class="card-title">
                                {{p.title}}
                            </div>
                            <div class="card-text">
                                    <del style="color: grey;">Original Price : INR {{p.price}}</del>
                                    <br>
                                    Discounted Price : INR {{p.discounted_price}}
                                    <a href="/shop/product_detail/{{p.pk}}"><button class="btn btn-warning">View</button></a>
                                    <button id="{{p.id}}" class="btn atc btn-warning">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- PAGINATION -->

<!-- PAGINATION -->
<hr>
<div class="row">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            <h5>Pages : &ensp;</h5>
            {% if product_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{product_list.previous_page_number}}">Current</a>
                </li>
            {% endif %}
                
            <li class="page-item active">
                <a class="page-link" href="?page={{product_list.number}}">{{product_list.number}}</a>
            </li>

            {% if product_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{product_list.next_page_number}}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- JS -->
    <!-- 
        JQuery for Add to cart Functionality
    
    <script type="text/javascript">
        console.log("Amitabh's 1st JavaScript");
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        
        $(document).ready(function() {
            $(document).on('click', '.atc', function() {
                console.log("The add to cart button is clicked");
                var item_id = this.id.toString();
                console.log(item_id);
                
                if (cart[item_id] != undefined) {
                    quantity = cart[item_id][0] + 1;
                    cart[item_id][0] = quantity;
                } else {
                    quantity = 1;
                    name = document.getElementById("as"+item_id).innerHTML.trim();
                    cart[item_id] = [quantity, name];
                }
                console.log(cart);
                localStorage.setItem('cart', JSON.stringify(cart));
                document.getElementById("cart").innerHTML = "Cart(" + Object.keys(cart).length + ")";
            });
    
            {% comment %} $('[data-toggle="popover"]').popover({
                html: true,
                content: '<h5>Your cart</h5>'
            }); {% endcomment %}
            
            $('#cart').on('click', function () {
                $(this).popover('show');
            });
            
            // DisplayCart(cart);
            function DisplayCart(cart) {
                var cartString = "";
                cartString += "<h5>Cart Details</h5><br>"
                var cart_index = 1;
                for(var x in cart) {
                    cartString += cart_index + document.getElementById("as" + x).innerHTML.trim() + ". Qty : " + cart[x][0] + "<br>";
                    cart_index += 1;
                }
                cartString += "<br>"
                //cartString += "<a href='/shop/checkout' class='btn btn-warning' id='checkout'>Checkout</a>";
                cartString += "<a href='{% url 'shop:checkout' %}' class='btn btn-warning' id='checkout'>Checkout</a>";
                console.log("cartString is : " + cartString);
                // document.getElementById("cart").setAttribute('data-content', cartString)
                
                var element = document.getElementById("cart");
                console.log("Element is : " + element); // Print the element to the console

                // Check if the element is null or undefined
                if (element) {
                    element.setAttribute('data-content', cartString);
                } else {
                    console.log("Element not found"); // Handle the case when the element is not found
                }

                $('[data-toggle="popover"]').popover({
                    html: true,
                    content: cartString
                });
            }
            DisplayCart(cart);
        });
            
    </script>-->

{% comment %} <script src='/shop/js/product_details.js'> </script> {% endcomment %}

<script>
    var checkoutUrl = "{% url 'shop:checkout' %}";
</script>
<script src="{% static 'js/product_details.js' %}"></script>


{% endblock shop_content %}


