{% extends 'shop_index.html' %}
{% load static %}

{% block shop_content %}
{% comment %} {% load django_bootstrap_pagination %} {% endcomment %}
<div class="container">
    <div class="container">
        <div class="row">
            {% for p in product_list %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{p.image}}" alt="{{p.title}}" class="card-img-top" style="width: 300px; height: 200px;">
                        <div class="card-body">
                            <div id="as{{p.id}}" class="card-title">
                                {{p.title}}
                            </div>
                            <div class="card-text">
                                    <del style="color: grey;">Original Price : INR {{p.price}}</del>
                                    <br>
                                    Discounted Price : INR {{p.discounted_price}}
                                    <a href="/shop/product_detail/{{p.pk}}"><button class="btn btn-warning">View</button></a>
                                    <button id="{{p.id}}" class="btn atc btn-warning">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- PAGINATION -->

<!-- PAGINATION -->
<hr>
<div class="row">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            <h5>Pages : &ensp;</h5>
            {% if product_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{product_list.previous_page_number}}">Current</a>
                </li>
            {% endif %}
                
            <li class="page-item active">
                <a class="page-link" href="?page={{product_list.number}}">{{product_list.number}}</a>
            </li>

            {% if product_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{product_list.next_page_number}}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    var checkoutUrl = "{% url 'shop:checkout' %}";
</script>
<script src="{% static 'js/product_details.js' %}"></script>


{% endblock shop_content %}


